.content
  .sidebar
    .sidebar__user
      .sidebar__user__content
        .sidebar__user__content__name
          = current_user.name
        = link_to "users/:id/edit", class: "sidebar__icon" do
          = fa_icon 'cog'
        = link_to "groups/new", class: "sidebar__icon" do
          = fa_icon 'edit'
    .sidebar__groups
      -# グループ情報のダミーを挿入
      = render partial: "shared/group"
  .main
    .main__header
      .main__header__group
        .main__header__group__name
          テストグループ
        %ul.main__header__group__members
          Members:
          - @group.users.each do |user|
            %li.main__header__group__members__member
              #{user.name}
      = link_to "Edit", "#", class: "main__header__editbutton"
    .main__content
      -# チャットのダミーを挿入
      = render partial: 'shared/message', collection: @messages
    .main__footer
      = form_for [@group,@message] do |f|
        .main__footer__formarea__message
          = f.text_field :body, class: "main__footer__formarea__message__text", placeholder: "type a message"
          .main__footer__formarea__message__icon
            = f.label :image,class: "main__footer__formarea__message__icon__label" do
              = fa_icon 'picture-o', class: 'fa fa-image'
              = f.file_field :image, class: "icon__file"
        = f.submit "Send", class: "main__footer__formarea__submit"
