%div.notification
  チャットグループが作成されました。
%div.content
  %div.sidebar
    %div.sidebar__user
      %div.sidebar__user__content
        %div.sidebar__user__content__name
          ユーザー名
        = link_to "#", class: "sidebar__icon" do
          = fa_icon 'cog'
        = link_to "#", class: "sidebar__icon" do
          = fa_icon 'edit'
    %div.sidebar__groups
      -# グループ情報のダミーここから
      %div.sidebar__groups__content
        %div.sidebar__groups__content__name
          グループ名１
        %div.sidebar__groups__content__chat
          チャット内容１
      %div.sidebar__groups__content
        %div.sidebar__groups__content__name
          グループ名２
        %div.sidebar__groups__content__chat
          チャット内容２
      %div.sidebar__groups__content
        %div.sidebar__groups__content__name
          グループ名３
        %div.sidebar__groups__content__chat
          チャット内容３
      -# グループ情報のダミーここまで、処理を組む段階でテンプレート化する
  %div.main
    %div.main__header
      %div.main__header__group
        %div.main__header__group__name
          テストグループ
        %div.main__header__group__members
          Members: test ichiro 田中義雄
      = link_to "Edit", "#", class: "main__header__editbutton"
    %div.main__content
      -# チャットのダミーここから
      %div.main__content__message
        %div.main__content__message__upper
          %span.main__content__message__upper__name
            田中義雄
          %span.main__content__message__upper__datetime
            2018/07/17 08:09:08
        %div.main__content__message__text
          おはようございます。
      %div.main__content__message
        %div.main__content__message__upper
          %span.main__content__message__upper__name
            test
          %span.main__content__message__upper__datetime
            2018/07/17 10:09:08
        %div.main__content__message__text
          こんにちは。
      %div.main__content__message
        %div.main__content__message__upper
          %span.main__content__message__upper__name
            ichiro
          %span.main__content__message__upper__datetime
            2018/07/17 18:09:08
        %div.main__content__message__text
          こんばんは！
      -# チャットのダミーここまで、処理を組む段階でテンプレート化する
    %div.main__footer
      %form{class: "main__footer__formarea",action:"/",method:"post"}
        %div.main__footer__formarea__message
          %input{class: "main__footer__formarea__message__text",type: "text",placeholder: "type a message"}
          %div.main__footer__formarea__message__icon
            %label{class: "main__footer__formarea__message__icon__label", for:"icon__file"}
              = fa_icon 'picture-o', class: 'fa fa-image'
              %input{id: "icon__file",type: "file"}
        %input{class: "main__footer__formarea__submit",type: "submit",value: "Send"}
